<colgroup>
    <col class="item-cell-img" />
    <col class="item-cell-name" />
    <col /> {{!-- This combined with the colspan="2" below lets us fake a min-width on the name column --}}
    <col class="item-cell-attr" />
    <col class="item-cell-dndtype" />
    <col class="item-cell-dndsize" />
    <col class="item-cell-dndspeed" />
    <col class="item-cell-dndsenses" />
    <col class="item-cell-dndalignment" />
</colgroup>
<tr class="item-header">
    <th></th>
    <th colspan="2" data-sort-id="name">{{{localize "ITEM_BROWSER.Name"}}}</th>
    <th data-sort-id="cr">{{{localize "ITEM_BROWSER.CR"}}}</th>
    <th data-sort-id="type">{{{localize "ITEM_BROWSER.Type"}}}</th>
    <th data-sort-id="size">{{{localize "ITEM_BROWSER.Size"}}}</th>
    <th>{{{localize "ITEM_BROWSER.Speed"}}}</th>
    <th>{{{localize "ITEM_BROWSER.Senses"}}}</th>
    <th data-sort-id="alignment">{{{localize "ITEM_BROWSER.Alignment"}}}</th>
</tr>
{{#each items}}
<tr class="item-option{{#if (and ../selectedItem (eq ../selectedItem uuid))}} selected{{/if}}" data-item-id="{{uuid}}" data-tooltip="{{tooltip}}">
    <td class="item-cell-img">
        <img src="{{img.display}}" alt="{{name.display}}" loading="lazy" class="item-row-img">
    </td>
    <td class="item-cell-name" colspan="2">
        <p class="item-row-text">{{name.display}}</p>
    </td>
    <td class="item-cell-attr">
        <p class="item-row-text">{{cr.display}}</p>
    </td>
    <td class="item-cell-dndtype">
        <p class="item-row-text">{{type.display}}</p>
    </td>
    <td class="item-cell-dndsize">
        <p class="item-row-text">{{size.display}}</p>
    </td>
    <td class="item-cell-dndspeed">
        <p class="item-row-text">{{speed.display}}</p>
    </td>
    <td class="item-cell-dndsenses">
        <p class="item-row-text">{{senses.display}}</p>
    </td>
    <td class="item-cell-dndalignment">
        <p class="item-row-text">{{alignment.display}}</p>
    </td>
</tr>
{{/each}}