<main>
    <div class="filter-panel">
        <h3>Filters</h3>
        <div class="source-filter filter-row">
            <label for="source-filter">{{{localize "ITEM_BROWSER.Filter.Source"}}}</label>
            <select id="source-filter" name="source-filter" type="dropdown" placeholder="Filter Source...">
                {{selectOptions sources selected=sourceFilter localize=true valueAttr="id" labelAttr="label"}}
            </select>
        </div>
        <div class="type-filter filter-row">
            <label for="type-filter">{{{localize "ITEM_BROWSER.Filter.Type"}}}</label>
            <select id="type-filter" name="type-filter" type="dropdown" placeholder="Filter Type...">
                {{selectOptions typeFilterOptions selected=typeFilter localize=true valueAttr="id" labelAttr="label"}}
            </select>
        </div>
        <div class="system-filters">
            {{#> itemBrowserAdditionalFiltersPartial additionalFiltersData=additionalFiltersData}}{{/itemBrowserAdditionalFiltersPartial}}
        </div>
    </div>
    <div class="list-panel">
        <div class="search-input">
            <div class="search-row">
                <label>{{{localize "ITEM_BROWSER.SearchName"}}}</label>
                <input type="text" class="search-name" value="{{searchName}}">
            </div>
            {{#> itemBrowserAdditionalSearchesPartial additionalSearchesData=additionalSearchesData}}{{/itemBrowserAdditionalSearchesPartial}}
        </div>
        <div>
            <table id="item-list" class="item-list">
                {{> itemBrowserListPartial items=items}}
            </table>
        </div>
    </div>
</main>